html { 
  margin: 0;
  -webkit-text-size-adjust: none;
}
body {
  margin: 0;
  padding: 0 230px 0 0;
  position: absolute;
}
#content {
  margin: 0;
  overflow: hidden;
}
#sidebar {
  background: #2980B9;
  color: #ECF0F1;
  float: right;
  font-size: 14px;
  height: 100%;
  position: absolute;
  right: 0;
  width: 230px;
}
#sidebar img {
  width: 100%;
}
#sidebar p {
  text-align: justify;
}
#sidebar p, #sidebar nav {
  color: #ECF0F1;
  font-family: 'Lato', sans-serif;
  margin: 20px 20px 20px 20px;
}
#sidebar nav ul { 
  list-style-type: none; 
  padding: 0; 
}
#sidebar a {
  color: #ECF0F1;
}

a:link { color: black; }
a:visited { color: black; text-decoration: none;  }
a:hover { color: black; text-decoration: none; }
a:active { color: black; text-decoration: none;  }

.posts-pagination,
a.navback {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  margin: 20px 30px 30px 30px;
}
.posts-pagination {
  text-align: center;
}
a.navback {
  display: inline-block;
}

article {
  font-size: 18px;
  margin: 20px 30px 0 30px;
  border-bottom: 1px solid black;
  padding-bottom: 30px;
}
article.paginated {
}
article time {
  font-family: 'Gentium Book Basic', serif;
  font-size: 16px;
}
article h1 {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 42px;
  margin: 10px 0 0 0;
}
article h2 {
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  margin: 20px 0 0 0;
}
article p {
  font-family: 'Gentium Book Basic', serif;
  line-height: 1.5;
  margin: 10px 0 0 0;
  text-align: justify;
}

@media (max-width: 720px) {
  body {
    padding: 0;
  }
  article {
    margin: 4% 5% 0 5%;
  }
  article h1 {
    font-size: 36px;
  }
  article h2 {
    font-size: 20px;
  }
  #content { 
    width: 100% 
  }
  #sidebar { 
    height: auto;
    width: 100%;
    display: block;
    position: relative;
    margin-bottom: 15px;
  }
  #sidebar img {
    float: left;
    width: 100px;
  }
  #sidebar p, #sidebar nav {
    margin: 10px;
    padding-left: 100px;
  }
}
@media (max-width: 372px) {
  #sidebar nav {
    display: none;
  }
}
@media (max-width: 319px) {
  #sidebar img {
    display: none;
  }
  #sidebar p, #sidebar nav {
    padding-left: 0px;
  }
}
