body {
    background-color: #F8F8F8;
    color: #272822;
    font-family: 'Palatino', 'Georgia', serif;
}

article {
    max-width: 600px;
    margin: 40px auto 40px auto;
}
article p {
    line-height: 1.4;
    text-align: justify;
}

header {
    margin-bottom: 20px;
}
header h1 {
    margin-bottom: 5px;
}
header time, header a, header a:active, header a:visited, header a:link {
    color: #272822;
    display: block;
    font-size: 10pt;
    text-decoration: none;
}
header a:hover {
    text-decoration: underline;
}
