body {
    font-family: 'Droid Sans Mono', monospace;
    font-size: 12px;
    background-color: rgb(47,47,47);
    color: rgb(225,225,225);
    margin: auto;
    width: 450px;
    padding-top: 100px;
    padding-bottom: 100px;
}
a, a:link, a:visited {
    color: rgb(250,200,100);
}
a:active, a:hover {
    text-decoration: none;
}
blockquote {
    color: #8CBE64;
}
.main-section ul {
    padding-left: 0;
}
.main-section li {
    list-style-type: none;
}
.main-section summary {
    display: inline;
}
