---
---

@import "no-style-please";

body {
  font-size: 0.8rem;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #FDF4DC;
}

a {
    color: gray;
}

.gist {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 768px;
}
