<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/default.css">
    <link href='http://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,700,400italic'
          rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700'
          rel='stylesheet' type='text/css'>
  </head>
  <body>
      <main id="content">{{ content }}</main>
      <aside id="sidebar">
        <img id="photo" src="/img/dhc.jpg">
        <p id="about">{% include about.html %}</p>
        <nav id="links">{% include links.html %}</nav>
      </aside>
  </body>
</html>
